body{
    background-color: #F7F4F3!important;
}

.bg-home{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../imgs/DJ_ML.jpg');
}

.text-home{
    color: #F572A1!important;
}

.navbarPerso{
    background-color: #E6AF2E!important;
    color: #F7F4F3!important;
}

.display-1{
    padding: .5rem 1rem;
}

.display-3{
    padding: .5rem 1rem;
}

.paraPerso{
    margin-top: 3%;
}

.paraList{
    margin-left: 1.3rem;
    margin-bottom: 2rem;
}

.tablePerso{
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.thead-perso{
    background-color: #3D348B!important;
    color: #E6AF2E!important;
}

.perso-form{
    background-color: #BEB7A4!important;
    border-radius: 5px;
}